Click==7.0
Flask==1.0.2
iniparse==0.4
itsdangerous==1.1.0
Jinja2==2.10
kitchen==1.2.5
MarkupSafe==1.1.1
py-eureka-client==0.5.5
six==1.11.0
virtualenv==16.4.3
Werkzeug==0.14.1
requests==2.21.0
pymongo==3.7.2
dnspython==1.16.0